<!DOCTYPE html>

<html>
<head> 
<title>signup</title>
</head>
<body> 
<form action="." enctype="multipart/form-data"  method="POST">
  user name: <input type="text" name="user_name" value="" required></input><br>
  roll no:   <input type="number" name="roll_no" value="0" required></input><br>
  email id:  <input type="email" name="email" value=" " autocomplete="off" required></input><br>
  semester:  <select name="sem" required>
    <option value="1" name="1">1st semester</option>
    <option value="2" name="2">2nd semester</option>
    <option value="3" name="3">3rd semester</option>
    <option value="4" name="4">4th semester</option>
    <option value="5" name="5">5th semester</option>
    <option value="6" name="6">6th semester</option>
    <option value="7" name="7">7th semester</option>
    <option value="8" name="8">8th semester</option>
  </select><br>
  password:  <input type="password" name="password" value=" " required></input><br>
  <br><br>
  <input type="submit">
</form>
</body>
</html>